.form {
    margin: 0 auto;
    width: 450px;
    margin-top: 100px;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
}
.input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 2px;
}
.recaptcha {
    display: flex;
    justify-content: center;
}
.btn{
    background-color: #dcdcdc;
    border: none;
    width: 120px;
    height: 42px;
    font-size: 16px;
    color: #3f3f3f;
    opacity: .8;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 10px;
}
.btn:hover{
    opacity: .6;

}
@media screen and (max-width: 450px) {
    .form {
        width: 100%;
    }
}